@{
    ViewBag.Title = "Datacom Interview Exam";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Welcome!
            </p>
        </div>
    </section>
}
<h3>Please read the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Picking categories</h5>
        The examiner will pick exam categories for you.
    </li>

    <li class="two">
        <h5>You must answer all the questions</h5>
        All questions need to be answered.
    </li>

    <li class="three">
        <h5>Getting your results</h5>
        Your results may be emailed to you at the examiner's discretion.
    </li>
</ol>
