@using Datacom.CorporateSys.Hire.Helpers
@{
    ViewBag.Title = "Datacom Interview Exam";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h3>@ViewBag.Title.</h3>
            </hgroup>
        </div>
    </section>
}
<h3>Please read the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Picking categories</h5>
        The examiner will pick exam categories for you.
    </li>

    <li class="two">
        <h5>You must answer all the questions</h5>
        All questions need to be answered.
    </li>

    <li class="three">
        <h5>Getting your results</h5>
        Your results may be emailed to you at the examiner's discretion.
    </li>
</ol>


<!--Ajax.ModalDialogActionLink("Click to open dialog2", "Dialog2", "Exam","xx")-->
<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<style>
    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>

