<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="dbOneHire"
      connectionString="Data Source=msdev2sql2k12.dsldev.local;Initial Catalog=OneHire;User ID=onehire;Password=Test1234;MultipleActiveResultSets=True;Trusted_Connection=False;Persist Security Info=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>